<div style="margin-left: 50px; margin-right:70px margin-bottom=50px; padding: 10px;">
    <mat-card class="container" style="margin:10px;">
        <h1 style="margin:20px 20px;">Herzlich Willkommen auf dieser Seite!</h1>
        <div style="padding:10px 20px;">
            <mat-card-subtitle style="margin-top: 15px; margin-bottom: 30px;">Dies ist ein digitaler Terminplaner, der von ein paar Onlinemedien-Studenten entwickelt wurde. Nicht nur kannst du hiermit deine neusten Termine, Aufgaben und Treffen eintragen, du hast damit auch jeder Zeit einen Überblick über deine Termine und kannst sie, wenn die bereits stattgefunden haben, als "erledigt" markieren.</mat-card-subtitle>
            
            <h2>1. Einen neuen Termin erstellen</h2>
            <mat-card-subtitle style="margin-top: 15px; margin-bottom: 30px;">Du kannst in den drei Inputfeldern alle Details zu deinem Termin eingeben. In dem ersten Feld wird nach dem "Titel" gefragt. Dort kannst du deinem Termin einen Namen gaben. Unterhalb kannst du das Datum, an dem der Termin stattfindet, als auch das Datum dazu eintragen. Mit dem "Termin hinzufügen"-Button ertsellst du deinen Termin, der gespeichert wird und den du später einsehen kannst.</mat-card-subtitle>
            <h2>2. Deine erstellten Termin einsehen</h2>
            <mat-card-subtitle style="margin-top: 15px; margin-bottom: 30px;">Sobald du einen Termin hinzugefügt und den Button betätigt hast, erscheint dein Termin in der Liste unterhalb des Buttons.</mat-card-subtitle>
            <h2>3. Deine erstellten Termin abhaken</h2>
            <mat-card-subtitle style="margin-top: 15px; margin-bottom: 30px;">Hat dein Termin bereits stattgefunden, kannst du ihn ganz einfach abhaken. Indem du die Checkbox links neben deinem Termin anklickst, erscheint ein Haken und der Termin wird durchgestrichen, sodass es als "Done" markiert wird.</mat-card-subtitle>


        </div>
    </mat-card>

</div>
