<div style="margin-left: 50px; margin-right:70px margin-bottom=50px; padding: 10px;">
    <mat-card class="container" style="margin:10px;">
        <mat-card-title>Neuer Termin</mat-card-title>
        <mat-card-subtitle style="margin-top: 15px;">Erstelle deinen Termin.</mat-card-subtitle>
        <mat-card-content>
            <mat-form-field>
                <input matInput type="text" style="margin-top:10px;" placeholder="Titel" #input>
            </mat-form-field><br>
            <mat-form-field>
                <input matInput type="text" style="margin-top:10px;" placeholder="Datum"#date>
            </mat-form-field><br>
            <mat-form-field>
                <input matInput type="text" style="margin-top:10px;" placeholder="Uhrzeit" #time>
            </mat-form-field><br>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" style="margin-bottom: 20px;" (click)="add(input.value, date.value, time.value)">Termin hinzufügen</button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="container" >
        <mat-card-title >Deine Termine</mat-card-title>
        <mat-card-subtitle style="margin-top: 15px; margin-bottom: 30px;">Hier siehst du eine Liste deiner bereits erstellten Termine.</mat-card-subtitle>
        <mat-card-content>
            <ul>
                <li *ngFor="let event of events" style="list-style: none;">
                   <span (input)="setDone(event)"><mat-checkbox [checked]="event.over"></mat-checkbox><span *ngIf="event.over == false">{{ event.title }}</span><span *ngIf="event.over == true" style="text-decoration: line-through;">{{ event.title }}</span> am {{ event.mydate }} um {{ event.mytime }} Uhr  ({{event.over}})</span>
                </li>  
            </ul>
        </mat-card-content>
    </mat-card>

</div>


